<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1"/>
    <meta name="Robots" contect="none">
    <script>if(window.top !== window.self){ window.top.location = window.location;}</script>
</head>
<body>
<!--[if lt IE 9]>
不兼容IE9以下浏览器 请去更新浏览器,推荐使用 Chrome浏览器
<![endif]-->
<div id="app" style="height: 100%;">

</div>

</body>
</html>