{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    ["import",{"libraryName": "antd","style": true}],
    ["dynamic-import-webpack"],
    "transform-remove-strict-mode",
    ["transform-decorators-legacy"]
  ]
}