@primary-color: #ff4d55;
@primary-color-light: #ff7d83;
@border-color: #e0e0e0;

@disabled-color: #cecdce;
@disabled-bg: #aaa;
@success-color: #1de9b6;
@success-color-to: #1dc4e9;

@box-shadow-color: #d8d8d8;
@text-click-color: #007aff;

// .flex (@orient:horizontal, @align:center, @pack:center) {
//   display: -webkit-box;
//   -webkit-box-pack: @pack;
//   -webkit-box-align: @align;
//   -webkit-box-orient: @orient;
// }
.flex(@orient: row,@alignItems: center,@justifyContent: center) {
  display: flex;
  flex-direction: @orient;
  align-items: @alignItems;
  justify-content: @justifyContent;
}

.fontSize(@fontSize:0.3rem, @color: #131313) {
  font-size: @fontSize;
  color: @color;
}
